<footer>
    <div class="container-fluid py-5">
        <div class="row">
            <div class="col-4 d-none d-lg-flex copyright-col offset-md-1"><img alt="" height="120" width="150"
                    src="../../assets/images/mobile-phone-shop-logo-vector-31968563.jpg">
                
            </div>
            <div class="col-xs-11 offset-sm-1 col-sm">
                <p class="col-header">Мапа на сајтот</p>
                <ul>
                    <!---->
                    <li class="d-flex align-items-stretch"><a [routerLink]="''"><span class="right-arrow">›
                            </span>Главна Страна</a></li>
                    <li class="d-flex align-items-stretch"><a [routerLink]="'../phones'"><span class="right-arrow">›
                            </span>Телефони</a></li>
                    <li class="d-flex align-items-stretch"><a [routerLink]="'../compare'"><span class="right-arrow">›
                            </span>Спореди</a></li>
                    <li class="d-flex align-items-stretch"><a [routerLink]="'../contact'"><span class="right-arrow">›
                            </span>Контакт</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm contact">
                <p class="col-header">Контакт</p>
                <ul>
                    <li class="d-flex align-items-center"><i aria-hidden="true" class="fa fa-phone"></i><a
                            href="tel:+38978328884">078 32 88 84</a></li>
                    <li class="d-flex align-items-center"><i aria-hidden="true" class="fa fa-envelope"></i><a
                            href="stojkovski.kristijan990@gmail.com">stojkovski.kristijan990@gmail.com</a></li>
                </ul>
            </div>
            
        </div>
    </div>
</footer>
