.container-fluid {
    background-color: #000;
   
}
.col-header {
    color: #ed2282;
    font-size: 18px;
}
p, ul {
    margin: 0;
}
ul {
    padding: 15px 0 0;
    margin: 0;
}
ul li{
    list-style-type: none;
    color: #888;
    font-size: 13px;
}
ul li a{
    color: inherit;
    transition: color .3s;
    text-decoration: none;
    padding: 2px 10px 2px 0;
}
.align-items-stretch {
    -ms-flex-align: stretch!important;
    align-items: stretch!important;
}
.contact .fa{
    width: 20px;
    font-size: 14px;
    color: #ed2282;
}