<div class="container main-container">
  <div class="row">
    <div class="sidebar">
      <div class="manufacturers ">
        <p class="title font-semi-bold">ПРОИЗВОДИТЕЛИ</p>
        <ul>
          <li class="manufacturer " *ngFor="let subcategory of subcategories">
            <a [routerLink]="['../phones/' + subcategory.name]" routerLinkActive="active-link" class="font-semi-bold">
              {{subcategory.title}}
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col page-content">
      <div class="row">
        <div class="col-12 text-center">
          <h3>СПОРЕДИ ТЕЛЕФОНИ</h3>
        </div>
        <div class="row p-right">
          <div class="col-5 offset-1 bg-white">
            <div class="compare-search-box">
              <span class="compare-text"><i aria-hidden="true" class="fa fa-mobile"></i>СПОРЕДИ ТЕЛЕФОНИ</span>
              <div>
                <form>
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Телефони</mat-label>
                    <input type="text" [formControl]="phoneForm1" [matAutocomplete]="auto" matInput>
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayPhone1">
                      <mat-option *ngFor="let option of filteredOptions1 | async" [value]="option">
                        {{ option.phoneName + ' ' + option.phoneModel }}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </form>
              </div>
            </div>
          </div>
          <div class="col-5 offset-1 bg-white">
            <div class="compare-search-box ">
              <span class="compare-text"><i aria-hidden="true" class="fa fa-mobile"></i>СПОРЕДИ ТЕЛЕФОНИ
              </span>
              <div class="input-container">
                <form class="example-form">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Телефони</mat-label>
                    <input type="text" [formControl]="phoneForm2" [matAutocomplete]="auto1" matInput>
                    <mat-autocomplete #auto1="matAutocomplete" [displayWith]="displayPhone2">
                      <mat-option *ngFor="let option of filteredOptions2 | async" [value]="option">
                        {{ option.phoneName + ' ' + option.phoneModel }}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </form>
              </div>
            </div>
          </div>

        </div>
        <div class="row mt-5">
          <div class="col-6">
            <div class="text-center" *ngIf="phoneForm1.value">
              <img height="225" [src]="phoneForm1.value.phoneImage" alt="">
            </div>
            <div class="compare-text text-center mt-2" *ngIf="phoneForm1.value">
              <span>{{phoneForm1.value?.phoneName}} </span><span>{{phoneForm1.value?.phoneModel}}</span>
            </div>
          </div>
          <div class="col-6">
            <div class="text-center" *ngIf="phoneForm2.value">
              <img height="225"[src]="phoneForm2.value?.phoneImage" alt="">
            </div>
            <div class="compare-text text-center mt-2" *ngIf="phoneForm2.value">
              <span>{{phoneForm2.value?.phoneName}}</span><span class="model"> {{phoneForm2.value?.phoneModel}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-8 col-lg-8 col-md-10 col-sm-12 offset-lg-2">
          <div class="table-responsive" *ngIf="phoneForm1.value || phoneForm2.value">
            <table class="table specifications-table">
              <tr class="table-title">
                <td colspan="3">Спецификации</td>
              </tr>
              <tr>
                <th style="width: 16.6667%">Екран</th>
                <td style="width: 41.6667%"> {{phoneForm1.value?.phonesScreen}} </td>
                <td style="width: 41.6667%"> {{phoneForm2.value?.phonesScreen}}</td>
              </tr>
              <tr>
                <th style="width: 16.6667%">Резолуција</th>
                <td style="width: 41.6667%">{{phoneForm1.value?.phoneResolution}}</td>
                <td style="width: 41.6667%">{{phoneForm2.value?.phoneResolution}}</td>
              </tr>
              <tr>
                <th style="width: 16.6667%">Chipset</th>
                <td style="width: 41.6667%">{{phoneForm1.value?.phoneChip}}</td>
                <td style="width: 41.6667%"> {{phoneForm2.value?.phoneChip}}</td>
              </tr>
              <tr>
                <th style="width: 16.6667%">Камера</th>
                <td style="width: 41.6667%">{{phoneForm1.value?.phoneCamera}}</td>
                <td style="width: 41.6667%">{{phoneForm2.value?.phoneCamera}} </td>
              </tr>
              <tr>
                <th style="width: 16.6667%">Видео</th>
                <td style="width: 41.6667%">{{phoneForm1.value?.phoneVideo}}</td>
                <td style="width: 41.6667%">{{phoneForm2.value?.phoneVideo}}</td>
              </tr>
              <tr>
                <th style="width: 16.6667%">Батерија</th>
                <td style="width: 41.6667%">{{phoneForm1.value?.phoneBattery}}</td>
                <td style="width: 41.6667%">{{phoneForm2.value?.phoneBattery}}</td>
              </tr>
              <tr>
                <th style="width: 16.6667%">RAM</th>
                <td style="width: 41.6667%">{{phoneForm1.value?.phoneRam}}</td>
                <td style="width: 41.6667%">{{phoneForm2.value?.phoneRam}}</td>
              </tr>
              <tr class="ng-star-inserted">
                <th style="width: 16.6667%">Меморија</th>
                <td style="width: 41.6667%">{{phoneForm1.value?.phoneStorage}}</td>
                <td style="width: 41.6667%">{{phoneForm2.value?.phoneStorage}}</td>
              </tr>
            </table>

            <table class="table prices-table">
              <tr>
                <th style="width: 16.6667%; border: 0 none"></th>
                <td style="width: 41.6667%">
                  <p class="device-page compare">{{phoneForm1.value?.phonePrice}}<span>ден.
                    </span>
                  </p>
                  <a class="btn btn-secondary" [routerLink]="'../phone/' + phoneForm1.value?.phoneId" >Повеќе детали<i
                      aria-hidden="true" class="fa fa-angle-right"></i>
                  </a>
                </td>
                <td style="width: 41.6667%">
                  <p class="device-page compare">{{phoneForm2.value?.phonePrice}}<span>ден.</span> </p>
                    <a class="btn btn-secondary" [routerLink]="'../phone/' + phoneForm2.value?.phoneId">Повеќе детали<i aria-hidden="true" class="fa fa-angle-right"></i>
                  </a>
                </td>
              </tr>
            </table>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>

<router-outlet></router-outlet>
