.top-links{
    background: #121212;
    padding: 0;
}
.top-links .top-link{
    display: inline-block;
    padding: 10px 20px;
    margin: 7px;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    border-bottom: 2px solid transparent;
    transition: border .3s;
}
.top-links .col{
    padding: 10px;
}
.top-links .col div{
    margin: auto;
    text-align: center;
}
.sidebar {
    max-width: 285px;
    min-width: 285px;
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 50px;
}
  .manufacturers {
    overflow: hidden;
    border-radius: 4px;
    background-color: #f1f1f1;
    font-size: 14px;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 10%), 0 0 0 1px rgb(0 0 0 / 5%);
}
.manufacturers .title {
    background-color: #000;
    color: #ed2282;
    padding: 15px;
    font-size: 12px;
    text-transform: uppercase;
}
.manufacturers .manufacturer {
    list-style: none;
    transition: font-size .3s ease-in-out;
}
.manufacturers .manufacturer a {
    padding: 5px 0px;
    display: block;
    text-decoration: none;
    color: inherit;
}
.manufacturers .manufacturer :hover{
  font-size: 16px;
  color: #ed2282;
}

.example-full-width {
  width: 100%;
}

.text-center {
    font-size: 14px;
    color: #ed2282;
    text-transform: uppercase;
}

.table{
  margin-top: 50px;
  font-size: 14px;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
}
table {
  border-collapse: collapse;
}
.table-title{
  font-size: 20px;
  color: #ed2282;
}
.table tr :first-child td{
  border-top: 0;
  border-bottom: 2px solid #ed2282;
}
.table td, .table th{
  padding: 15px 10px;
}
.table th {
  color: #ed2282;
}
.table td, .table th {
  padding: 15px 10px;
}

.table td, .table th {
  padding: 0.75rem;
  vertical-align: top;
}

.compare-search-box {
  width: 100%;
  padding: 20px;
  border-radius: 4px;
}

.compare-text {
  font-size: 14px;
  color: #ed2282;
  text-transform: uppercase;
}
.compare-text .fa {
  padding-right: 6px;
}

.p-right{
  padding-right: 40px;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
}

.device-page {
  color: #ed2282;
  font-size: 32px;
}
.prices-table.btn-secondary{
  font-size: 12px;
  margin-top: 20px;
  padding: 10px 20px;
}
a.btn.btn-secondary, button .btn .btn-secondary {
  border-color: #ed2282;
  color: #ed2282;
  background-color: transparent;
}

.page-content {
  background-color: #f1f1f1;
  min-height: 880px;
}

.text-center h3 {
  padding-top: 50px;
}
@media screen and (max-width: 961px) {
  .sidebar {
   display: none;
  }

}
