<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <img height="50px" src="../../assets/images/mobile-phone-shop-logo-vector-31968563.jpg"
      [routerLink]="''">
    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <i class="fas fa-bars navigation-toggle-icon"></i>
    </button>

    <div class="navbar-collapse collapse" id="navbarSupportedContent">

      <div class="navigation">
        <a class="nav-link " [routerLink]="''" [routerLinkActive]="'active'"
          [routerLinkActiveOptions]="{exact: true}" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent">Дома
          <div class="link-underline"></div>
        </a>
        <a class="nav-link" [routerLink]="'../phones'" [routerLinkActive]="'active'" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent">Телефони
          <div class="link-underline"></div>
        </a>
        <div class="top-links">
          <a class="nav-link" *ngFor="let subcategory of subcategories" [routerLink]="['../phones/' + subcategory.name]"
            routerLinkActive="'active'" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent">
            {{subcategory.title}}
            <div class="link-underline"></div>
          </a>
        </div>
        <a class="nav-link" [routerLink]="'../compare'" [routerLinkActive]="'active'" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent">Спореди
          <div class="link-underline"></div>
        </a>
        <a class="nav-link " [routerLink]="'../contact'" [routerLinkActive]="'active'" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent">Контакт
          <div class="link-underline"></div>
        </a>
      </div>

    </div>
  </div>
</nav>

<!-- <div class="height80"></div> -->



<!-- <router-outlet></router-outlet> -->
