.navbar {
  width: 100%;
  top: 0;
  position: fixed;
  overflow: hidden;
  z-index: 3;
}
.navbar-expand-lg {
  background-color: #212121;
  padding: 0;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navigation-toggle-icon {
  color: white;
}

.navigation {
  float: right;
  width: calc(100% - 100px);
  text-align: right;
  height: 60px;
  padding: 0 50px;
}

.navigation {
  padding: 0;
  width: calc(100% - 50px);
  min-height: 80px;
  height: fit-content;
}

.nav-link {
  display: inline-block;
  padding: 31px 20px;
  position: relative;
  width: 110px;
  text-align: center;
  cursor: pointer;
}

.navlink-sub {
  float: left;
  padding: 31px 20px;
  position: relative;
  width: 110px;
  text-align: center;
  cursor: pointer;
}

.nav-link:hover .link-underline{
  width: 100%;
}

.nav-link:focus, .nav-link:hover {
  color: white !important;
}

.nav-link {
  height: 80px !important;
  color: white !important;
}

.link-underline {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0;
  height: 3px;
  background-color: #de1a60;
  transition: all 0.5s;
}

.nav-link:hover .link-underline{
  width: 100%;
}

.top-links {
  font-size: 12px;
}

.active {
  display: inline-block;
  padding: 31px 20px;
  position: relative;
  width: 110px;
  text-align: center;
  cursor: pointer;
  background-color: black;
}

.height80 {
  height: 80px;
}

@media all and (max-width: 961px) {
  .nav-link {
      width: 100%;
  }
  .navigation {
      width: 100%;
  }
  .container-fluid {
      padding: 0;
  }
  .height80 {
    height: 50px;
  }
}

@media (min-width: 961px) {
  .top-links {
    display: none;
  }

}

@media (max-width: 991px) {
  .height80 {
    height: 50px;
  }
}

@media (min-width: 992px) {
  .navbar , .nav-link , .navigation, .container-fluid, .navbar-collapse {
    min-height: 80px !important;
    height: 80px !important;
  }


}




