.sidebar {
  max-width: 285px;
  min-width: 285px;
  padding-top: 50px;
  padding-left: 10px;
  padding-right: 50px;
}
.manufacturers {
  overflow: hidden;
  border-radius: 4px;
  background-color: #f1f1f1;
  font-size: 14px;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 10%), 0 0 0 1px rgb(0 0 0 / 5%);
}
.manufacturers .title {
  background-color: #000;
  color: #ed2282;
  padding: 15px;
  font-size: 12px;
  text-transform: uppercase;
}
.manufacturers .manufacturer {
  list-style: none;
  transition: font-size .3s ease-in-out;
}
.manufacturers .manufacturer a {
  padding: 5px 0px;
  display: block;
  text-decoration: none;
  color: inherit;
}
.manufacturers .manufacturer :hover{
  font-size: 16px;
  color: #ed2282;
}
.content-row, .main-container .container {
  height: 100%;
}
.container {
  width: 100%;
  max-width: 1370px;
}
.col, .row {
  margin: 0;
  padding: 0;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

.page-content {
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 10px;
  padding-top: 50px;
}
.price-container {
  background-color: #f1f1f1;
  height: 130px;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  margin: 30px auto;
  border-left: 3px solid #ed2282;
}
.device-page {
  color: #ed2282;
  font-size: 32px;
  padding-top: 50px;
  padding-left: 55px;
}

.warranty {
  text-align: end;
  font-size: 16px;
  padding-right: 20px;
  color: #ed2282;
}
.key{
  font-size: 22px;
  color: #ed2282;
}
.specs.body{
  margin: 10px -10px 0;
  width: 100%;
}
.device-container {
  width: 100%;
  padding: 50px;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 10%), 0 0 0 1px rgb(0 0 0 / 5%);
  background: #fff;
  border-radius: 4px;
}

.device-container .right{
  padding-top: 50px;
  padding-left: 25px;
}
.right{
  display: flex;
  flex-flow: column;
}
.mm{
  color: #ed2282;
  font-size: 32px;
  padding-top: 30px
}

.device-container.specs{
  margin-top: 30px;
}
.specs{
  margin-top: 50px;
}
.box-secondary{
  width: 100%;
  padding: 25px;
  background-color: #f1f1f1;
  border-left: 3px solid #ed2282;
  border-radius: 0 4px 4px 0;
  position: relative;
}
.specs .title{
  color: #ed2282;
  font-size: 22px;
  width: 100%;
}


// _________--------_________/


@media screen and (max-width: 961px) {
  .sidebar {
   display: none;
  }
}