
  <div class="container main-container">
       <div class="row content-row">
      <div class="sidebar">
          <div class="manufacturers ">
              <p class="title font-semi-bold">ПРОИЗВОДИТЕЛИ</p>
              <ul>
                <li class="manufacturer " *ngFor="let subcategory of subcategories">
                  <a
                  [routerLink]="['../../phones/' + subcategory.name]"
                  routerLinkActive="active-link"
                  class="font-semi-bold"
                  >
                  {{subcategory.title}}
                </a>
                </li>
              </ul>
          </div>
      </div>
      <div class="col page-content">
        <div class="row">
          <mat-card class="col-12">
            <div class="shadow text-center py-4" >
              <img height="225" [src]="phone.phoneImage" alt="">
              </div>
          <mat-card-content>
            <mat-card-title class="mm">
                <span class="">{{phone.phoneName}} </span>
                <span class="">{{phone.phoneModel}}</span>

            </mat-card-title>
            <mat-card-subtitle class="key pt-3">Спецификации</mat-card-subtitle>

            <div class="box-secondary">
              <div >
                <p class="key">ЕКРАН И РЕЗОЛУЦИЈА</p>
                <div class="value">
                  <p class="primary">{{phone.phonesScreen}}</p>
                  <p class="secondary"><span>{{phone.phoneResolution}}</span></p>
                </div>
              </div>
              <div class="">
                <p class="key">RAM and CHIPSET</p>
                <div class="value">
                  <p class="primary">{{phone.phoneRam}}</p>
                  <p class="secondary"><span>{{phone.phoneChip}}</span></p>
                </div>
              </div>
              <div class="">
                <p class="key">КАМЕРА И ВИДЕО</p>
                <div class="value">
                  <p class="primary">{{phone.phoneCamera}}</p>
                  <p class="secondary"><span>{{phone.phoneVideo}}</span></p>
                </div>
              </div>
              <div class="">
                <p class="key">БАТЕРИЈА</p>
                <div class="value">
                  <p class="primary">{{phone.phoneBattery}}</p>
                </div>
              </div>
            </div>
            <div class=" price">
              <div class="price-container ">
                <p class="device-page">{{phone.phonePrice}}<span>ден.</span></p>
                <p class="warranty">
                  <i class="fa fa-thumbs-o-up"></i><span>12</span><span> месеци
                    гаранција</span></p>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
        </div>
       
      </div>
  </div>
  </div>

<router-outlet></router-outlet>
