
<div class="background">
    <div class="container main-container">
         <div class="row content-row">
        <div class="sidebar">
            <div class="manufacturers ">
                <p class="title font-semi-bold">Производители</p>
                <ul>
                  <li class="manufacturer " *ngFor="let subcategory of subcategories">
                    <a
                    [routerLink]="['../phones/' + subcategory.name]"
                    routerLinkActive="active-link"
                    class="font-semi-bold"
                    >
                    {{subcategory.title}}
                  </a>
                  </li>
                </ul>
            </div>
        </div>
        <div class="col page-content">
          
        </div>
    </div>
    </div>
</div>
<router-outlet></router-outlet>
