<div class="container main-container">
  <div class="row content-row">
    <div class="sidebar">
      <div class="manufacturers ">
        <p class="title font-semi-bold">ПРОИЗВОДИТЕЛИ</p>
        <ul>
          <li class="manufacturer " *ngFor="let subcategory of subcategories">
            <a [routerLink]="['../phones/' + subcategory.name]" routerLinkActive="active-link" class="font-semi-bold">
              {{subcategory.title}}
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col page-content">

      <div class="row">
        <mat-card class="col-12">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title class="company">MOBILE SHOP</mat-card-title>
            <mat-card-subtitle>
              <div class="d-flex">
                <i class="fa fa-map-marker icon"></i>
                <p>ul. Pavel Shatev 42<br>Veles 1400, Macedonia</p>
              </div>
            </mat-card-subtitle>
            <mat-card-subtitle>
              <div class="d-flex">
                <i class="fa fa-mobile icon"></i>
                <p class="link">078 32 88 84</p>
              </div>
            </mat-card-subtitle>
            <mat-card-subtitle>
              <div class="d-flex">
                <i class="fa fa fa-envelope icon"></i>
                <a class="link" href="mailto:stojkovski.kristijan990@gmail.com">stojkovski.kristijan990@gmail.com</a>
              </div>
            </mat-card-subtitle>
          </mat-card-header>
          <iframe  mat-card-image src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2978.222680995688!2d21.771542515396604!3d41.71571347923533!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x13542b2de3618627%3A0x47bf316446b924d7!2sSkillUp%20Academy!5e0!3m2!1sen!2smk!4v1649058377386!5m2!1sen!2smk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>


        </mat-card>

      </div>


    </div>
  </div>
</div>



<router-outlet></router-outlet>
