
.sidebar {
    max-width: 285px;
    min-width: 285px;
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 50px;
}
  .manufacturers {
    overflow: hidden;
    border-radius: 4px;
    background-color: #f1f1f1;
    font-size: 14px;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 10%), 0 0 0 1px rgb(0 0 0 / 5%);
}
.manufacturers .title {
    background-color: #000;
    color: #ed2282;
    padding: 15px;
    font-size: 12px;
    text-transform: uppercase;
}
.manufacturers .manufacturer {
    list-style: none;
    transition: background-color .3s ease-in-out;
}
.manufacturers .manufacturer a {
    padding: 5px 0px;
    display: block;
    text-decoration: none;
    color: inherit;
}
.manufacturers .manufacturer :hover{
  font-size: 16px;
  color: #ed2282;
}
.page-content {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    background-color: #f1f1f1;
    min-height: 880px;
    padding-bottom: 20px;
}
 .company {
    color: #ed2282;
    font-size: 26px;
}
.icon {
    max-width: 26px;
    color: #ed2282;
    font-size: 16px;
    margin-right: 5px;
}


.link {
    color: #ed2282;
    text-decoration: none;
}


  @media screen and (max-width: 961px) {
    .sidebar {
     display: none;
    }
  }
