.price-color {
    color: #ed2282;
    font-size: 20px;
}
.price-color span{
    color: #888;
    font-size: 10px;
}
.manufacturer-font {
    font-size: 20px;
}
.shadow {
  cursor: pointer;
  transition: transform .2s ease-in-out;

}
.shadow:hover {
  transform: scale(1.1);
}
