<div>
    <div class="shadow " (click)="getDetails()">
        <mat-card class="mb-1 mr-1 py-2">
            <div class="image-input image-input-outline d-flex justify-content-center mb-3">
                <img  height="225" class="bg-image" [src]="phoneDetails.phoneImage"/>
            </div>
            <mat-card-content>
                <div class="text-center">
                    <p class="manufacturer-font"> {{phoneDetails.phoneName}}</p> 
                    <span class="model">{{phoneDetails.phoneModel}}</span>
                </div>
                <p class="text-center price-color">{{phoneDetails.phonePrice}}<span>ден.</span></p>
            </mat-card-content>
            
        </mat-card>
    </div>
</div>
