.top-links{
  background: #121212;
  padding: 0;
}
.top-links .top-link{
  display: inline-block;
  padding: 10px 20px;
  margin: 7px;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  border-bottom: 2px solid transparent;
  transition: border .3s;
}
.top-links .col{
  padding: 10px;
}
.top-links .col div{
  margin: auto;
  text-align: center;
}
.sidebar {
  max-width: 285px;
  min-width: 285px;
  padding-top: 50px;
  padding-left: 10px;
  padding-right: 50px;

}
.manufacturers {
  overflow: hidden;
  border-radius: 4px;

  font-size: 14px;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 10%), 0 0 0 1px rgb(0 0 0 / 5%);
}
.manufacturers .title {
  background-color: #000;
  color: #ed2282;
  padding: 15px;
  font-size: 12px;
  text-transform: uppercase;
}
.manufacturers .manufacturer {
  list-style: none;
  transition: font-size .3s ease-in-out;
}
.manufacturers .manufacturer a {
  padding: 5px 0px;
  display: block;
  text-decoration: none;
  color: inherit;

}
.manufacturers .manufacturer :hover{
  font-size: 16px;
  color: #ed2282;
}
.content-row, .main-container .container {
  height: 100%;
}
.container {
  width: 100%;
  max-width: 1370px;
}
.content-row, .main-container.container {
  height: 100%;
}
.col, .row {
  margin: 0;
  padding: 0;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

.page-content {
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 10px;
  padding-top: 50px;
}
.page-content {
  background-color: #f1f1f1;
  min-height: 880px;
}

@media screen and (max-width: 961px) {
  .sidebar {
   display: none;
  }
}
