
<div class="background">
  <div class="container main-container">
       <div class="row content-row">
      <div class="sidebar">
          <div class="manufacturers ">
              <p class="title font-semi-bold">ПРОИЗВОДИТЕЛИ</p>
              <ul>
                <li class="manufacturer" *ngFor="let subcategory of subcategories">
                  <a
                  [routerLink]="['../' + subcategory.name]"
                  routerLinkActive="active-link"
                  class="font-semi-bold"
                  >
                  {{subcategory.title}}
                </a>
                </li>
              </ul>
          </div>
      </div>
      <div class="col page-content">
          <div class="row">
              <app-phone-card *ngFor="let phone of phones" [phoneDetails]="phone" class="col-xl-3 col-lg-4 col-md-6 col-sm-12"></app-phone-card>
          </div>
      </div>
  </div>
  </div>
</div>
