<!-- <div class="top-links">
  <div class="col center-vertical">
    <div>
      <a class="top-link manufacturer" *ngFor="let subcategory of subcategories"
        [routerLink]="['../phones/' + subcategory.name]" routerLinkActive="active-link">
        {{subcategory.title}}
      </a>
    </div>
  </div>
</div> -->

<div class="parallax-img">
  
</div>

<div class="container-fluid" >
  
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner row">
      <div class="carousel-item active">
        <img src="../../assets/images/Xiaomi-11T-11TPro-web-slider.jpg" class="w-100 d-block home-carousel-img" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/images/iphone13-web-slider.png" class="w-100 d-block home-carousel-img" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/images/iPhone13pro-pro-max-kupi.jpg" class="w-100 d-block home-carousel-img" alt="...">
      </div>
    </div>
  </div>
</div>


    
  <div class="parallax-img">
    
  </div>


<router-outlet></router-outlet>
